/* FONTE DO GOOGLE */


/*---------- VARIÁVEIS ----------*/
:root {
    --capa: .teste;


    /* Cores */
    --cor-primaria: rgb(250, 84, 87);
    --cor-titulo:;
    --cor-texto:;
    --cor-background:;
    
    /* Tipografia */
    --font-family:;
    
    --body-font-small:;
    --body-font-medium:;
    --body-font-large:;
    --body-font-xlarge:;

    --h1-font-size:;
    --h2-font-size:;
    --h3-font-size:;
    --h4-font-size:;
    --h5-font-size:;
    --h6-font-size:;

    --font-thin: 100; 
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-black:900;

    --icon-font-small: 24;
    --icon-font-medium: 32;
    --icon-font-large: 40;
    
}

/*---------- RESET ----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------- BASE ---------- */
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: ;
}

.container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    /* tirar a borda depois */
    border: solid ;
}

.main {
    margin-top: 50px;
    height: 100%;
}


canvas {
    background-color: antiquewhite;
    width: 100%;
    height: 250px;
    border-color: aquamarine;
}

h1, h2, h3, h4, h5, h6 {
    color: brown;
    margin-bottom: 15px;
}

/* ========== PÁGINA PRINCIPAL ========== */

/*---------- Cabeçalho ----------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;

    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cor-primaria);
}

.header__nav{
    
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;

    display: flex;
    padding: 5rem 2rem;
    visibility: hidden;
    
    
    
    background-color: var(--cor-primaria);
    
    /* backdrop-filter: blur(16px); */


}

.header__nav-button--open,
.header__nav-button--close {
    font-size: 1.5rem;
    cursor: pointer;
    right: 0;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
}

.header__nav-divisor {
    position: absolute;
    border-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    left: 0px;
    top: 185px;
}

.header__nav-item {
    /* a */
}

.header__nav-button--close {
    position: absolute;
    top: 11px;
    right: 19px;
}

.show-menu {
    right: 0;
    visibility: visible;
}


/*---------- banner ----------*/
.main__banner {
    margin-bottom: 45px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    overflow: hidden;
    
}

.main__banner-img {
   
    width: 475px;
    top: -50px;
    position: relative;
    
    
    
}

.img {
    position: relative;
    top: -50px;
}

/*---------- pesquisa ----------*/
.pesquisa  {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    padding: 0px 16px 0px 16px;
    margin-bottom: 12px;
    gap: 10px;
    /* border: solid; */
}

.area__pesquisa {
    display: flex;
    gap: 10px;
}

.caixa__pesquisa {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    padding-left: 30px;
}

.botao-pesquisa {
    position: absolute;
    top: px;
    /* left: -375px; */
}

.filtro {
    height: 30px;
    width: 30px;
    background-color: rgb(167, 163, 172);
    border-radius: 6px;
    border: 1px solid red;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.categoria {

    display: none;
}

.mostrar-categoria {
    display: block;
}


.main__divider {
    margin: 0px 16px 30px 16px;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0px 16px 0px 16px;

}

/* ---------- jogos ---------- */

.main__games {
    display: flex;
    /* justify-content: space-around; */
    
    flex-wrap: wrap;
    
    padding: 0px 16px 0px 16px;
    /* row-gap: 30px; */
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
    flex-shrink: 1;

}

.main__games-cover {
    position: relative;
    width: 170px;
    height: 100%;
    border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);

}

.teste {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 5%, #000 100%);
    bottom: 0px;
    position: absolute;
    width: 100%;

    height: 50px;
}

.main__games-img {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
}


.main__games-name {
    color: white;
    position: absolute;
    left: 23px;
    bottom: 10%;
   
}

/* 
.main__games-cover {
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 65%, #000 100%);
    
     sombra do lado de fora 
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-radius: 20px;



*/

    
   
    /* url(<path-to-image>) lightgray 50% / cover no-repeat */


 /* ---------- rodapé ---------- */

.footer {
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;

    background-color: var(--cor-primaria);
    text-align: center;
    align-content: center;
}

/* PÁGINA 'SOBRE' */
.sobre {
    padding: 16px;
    height: 100vh;
}




/* PÁGINA 'QUEM SOMOS' */

.quem-somos {
    margin-top: 16px;
    padding: 16px;
}

.perfil {
    width: 100%;
    /* height: 350px; */
    background-color: aquamarine;
    margin-bottom: 16px;
    overflow: hidden;
    border: solid 1px black;
    border-radius: 20px;
}

.foto {
    width: 100%;
    position: static;
    /* margin-bottom: 16px; */
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border: solid;
}

.nome {
    
}

.social {
    display: flex;
    font-size: 16px;
    gap: 10px;
}

.descricao {
    padding: 0px 10px 10px 10px;

}


/*========== PÁGINA DO JOGO ==========*/
.pagina__jogo {
    padding: 16px;
}

.como__jogar {
    padding: 10px;
    width: 100%;

    /* background-color: aqua; */
    border: 1px solid;
}

.info__jogo {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 50px;

    background-color: ;
    border: solid 1px;
}


.para__que {
    width: 500px;
}

li {
    
    list-style: none;
}








/*========== MOBILE - PEQUENO ==========*/
@media (min-width: 475px) {

    .container {
       max-width: 100%;

    }

    .header {
        background-color: ;
    }

    .header__nav {
  
    }

    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 150px;
        height: 100%;
    }

    .main__games-name {
        left: 14px;
    }
    
} 

/*========== MOBILE - MÉDIO ==========*/
@media (min-width: 640px) {

    .container {
        max-width: 640px;
    }

        /* ---------- jogos ---------- */
        .main__games-cover {
            position: relative;
            width: 170px;
            height: 100%;
        }
    
        .main__games-name {
            left: 25px;
        }
}


/*========== MOBILE - GRANDE ==========*/
@media (min-width: 768px ) {

    .container {
        max-width: 768px;
    }

    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 200px;
        height: 100%;
    }

    .main__games-name {
        left: 40px;
    }
}

/*========== TABLET ==========*/
@media (min-width: 1024px ) {

    .container {
        max-width: 1024px;
    }


    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 300px;
        height: 170px;
    }

    .main__games-name {
        left: 100px;
    }
}

/*========== DESKTOP - PEQUENO ==========*/
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 380px;
        height: 220px;
    }

    .main__games-name {
        left: 100px;
    }


}


/*========== DESKTOP - MÉDIO ==========*/
@media (min-width:1536px) {

    .container {
        max-width: 1536px;
    }

        /* ---------- jogos ---------- */
        .main__games-cover {
            position: relative;
            width: 450px;
            height: 270px;
        }
    
        .main__games-name {
            left: 170px;
        }
}

/*========== DESKTOP - GRANDE ==========*/
@media (min-width:1820px) {

    .container {
        max-width: 100%;
    }

        /* ---------- jogos ---------- */
        .main__games-cover {
            position: relative;
            width: 400px;
            height: 250px;
        }
    
        .main__games-name {
            left: 150px;
        }
}